include *.md
include *.py
include run_doctests.sh
include *.txt
include LICENSE
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include requirements *.txt
recursive-include testing *.py
recursive-include testing *.ipynb
